{{!-- <footer class="footer">
  <div class="container">
    <p class="text-center">
      <a class="rhd-logo" href="https://developers.redhat.com" target="_blank"></div>
    </p>       
  </div>
</footer> --}}