<header class="header">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      const urlParams = new URLSearchParams(window.location.search);
      const userId = urlParams.get('USERID') || localStorage.getItem('userId');
      const subDomain = urlParams.get('SUBDOMAIN') || localStorage.getItem('subDomain');
      const tomcatIP = urlParams.get('TOMCATIP') || localStorage.getItem('tomcatIP');
      if (userId && userId != null ) {
        localStorage.setItem('userId', userId);
        showUserId( userId );
      }
      else {
        showUserIdForm();
      }
      if (subDomain && subDomain != null ) {
        localStorage.setItem('subDomain', subDomain);
        document.getElementById('subDomain').value = subDomain;
        document.body.innerHTML = document.body.innerHTML.replace(/%SUBDOMAIN%/g, subDomain);
      }
      if (tomcatIP && tomcatIP != null ) {
        localStorage.setItem('tomcatIP', tomcatIP);
        document.getElementById('tomcatIP').value = tomcatIP;
        document.body.innerHTML = document.body.innerHTML.replace(/%TOMCATIP%/g, tomcatIP);
      }
    } );


    function showUserId( userId ) {
      document.getElementById('navbar-form-empty').style.display = "none";
      document.getElementById('navbar-form-filled').style.display = "flex";
      document.getElementById('username').textContent = userId;
      document.body.innerHTML = document.body.innerHTML.replace(/%USERID%/g, userId);
    }

    function showUserIdForm( userId ) {
      document.getElementById('navbar-form-empty').style.display = "flex";
      document.getElementById('navbar-form-filled').style.display = "none";
    }

    function goWithUserId() {
      var searchParams = '';
      if (document.getElementById('userId').value !== '') {
        searchParams += 'USERID=' + document.getElementById('userId').value;
      }else{
        if (localStorage.getItem('userId') !== null) {
          searchParams += 'USERID=' + localStorage.getItem('userId');
        }
      }
      if (localStorage.getItem('subDomain') !== null) {
        searchParams += '&SUBDOMAIN=' + localStorage.getItem('subDomain');
      }
      if (localStorage.getItem('tomcatIP') !== null) {
        searchParams += '&TOMCATIP=' + localStorage.getItem('tomcatIP');
      }

      window.location.search = searchParams;
    }

  </script>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.redhat.com/en/products/runtimes" target="_blank"><img
          src="{{uiRootPath}}/img/Logo-Red_Hat-Runtimes-A-Reverse-RGB.png" height="40px" alt="Red Hat Runtimes"></a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}" style="color: white;"><h3>{{site.title}}</h3></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item" id="navbar-form-empty">
          <span class="navbar-text" style="margin-left: 1rem;">Your Workshop Environment</span>
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i style="color: orange;"
              class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>

          <form action="javascript:void(0);" onsubmit="goWithUserId();">
            <div class="navbar-item" id="navbar-form-project-filled" style="display: none;">
              <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">|</span>
            </div>
            <input size="40" id="userId" type="text" placeholder="Enter USER ID">
            <input type="hidden" id="subDomain" name="subDomain" value="">
            <input type="hidden" id="tomcatIP" name="tomcatIP" value="">
          </form>
        </div>

        <div class="navbar-item" id="navbar-form-filled" style="display: none;">
          <span class="navbar-text" style="margin-left: 1rem;">Your Workshop Environment</span>
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">|</span>
          <span class="navbar-text" id="username"></span>
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i onclick="recycle();" style="color: green;" class="fa fa-recycle" aria-hidden="true"></i></span>
        </div>

    </div>
  </nav>
</header>
